button {
    --button-color: var(--fourth);
    --button-text: var(--base);
    --button-drop: var(--neutral-dk);
    --button-height: 52px;
    --button-padding: 0 var(--spacing-xxl);

    display: inline-block;
    height: var(--button-height);
    padding: var(--button-padding);
    border: none;
    border-radius: var(--border-radius);
    background: var(--button-color);
    color: var(--button-text);
    // margin-top: 12px;
    margin:  0 calc(#{var(--dropOffsetX)} / 2) calc(#{var(--dropOffsetY)} / 2) 0;
    vertical-align: top;
    position: relative;

    * {
        user-select: none;

    }

    h4 {
        display: flex;
        height: 100%;
        align-items: center;
        margin-bottom: 0;
        font-size: 20px;
    }

    &.circle {
        max-width: var(--button-height);
        padding: 0;
    }

    &.contact {
        position: relative;
    }

    &::after {
        @include dropBox(var(--button-drop));
        border-radius: var(--border-radius);
    }

    &.primary {
        --button-color: var(--primary);
        --button-drop: var(--primary-dk);
        --button-text: var(--base);
    }

    &.white {
        --button-color: var(--base);
        --button-drop: var(--neutral-dk);
        --button-text: var(--fourth);
    }

    &.fourth {
        --button-color: var(--fourth);
        --button-drop: var(--gray-3);
        --button-text: var(--base);
    }

    &.small {
        --button-height: auto;
        --button-padding: var(--spacing-xs) var(--spacing-xl);
    }

    &:active, &.active {
        transform: translate(5px, 3px);
        z-index: 2;
        // --button-drop: var(--button-color);

        &::after {
            top: 0;
            left: 0;
            transform: translate(0px, 0px);
        }
    }
}