.chip-wrapper {
  --chip-width: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  min-width: calc(var(--chip-width) * 1.3);
  min-height: calc(var(--chip-width) * 1.3);
  pointer-events: all;
  cursor: pointer;
}

.chip-container {
  height: var(--chip-width);
  width: var(--chip-width);
  pointer-events: none;
  transition: transform .25s ease;

}

.chip {
  --chip-depth: 5px;
  --accent: #D95D39;
  
  width: inherit;
	height: inherit;
      pointer-events: none;
  transform-style: preserve-3d;

  .side {
    position: absolute;
	  width: inherit;
	  height: inherit;
    background: var(--accent);
    filter: opacity(60%);
	  text-align: center;
    line-height: var(--chip-width);
    color: #fff;
    pointer-events: none;
    transform-origin: 50% 50% 0px;
  }
  
  .left, .right {
      width: calc(var(--chip-depth) * 2);
    }

    .top, .bottom {
      height: calc(var(--chip-depth) * 2);
  }

  .front {
    filter: none;
    transform: translateZ(var(--chip-depth));
  }
  
  .back {
    @include boxShadow();
    transform: rotateY(180deg) translateZ(var(--chip-depth));
  }
  
  .right {
    transform: rotateY(90deg) translateZ(calc(var(--chip-width) - var(--chip-depth)));
  }
  
  .left {
    transform: rotateY(-90deg) translateZ(var(--chip-depth));
  }
  
  .top {
    transform: rotateX(90deg) translateZ(var(--chip-depth));
  }
  
  .bottom {
    transform: rotateX(-90deg) translateZ(calc(var(--chip-width) - var(--chip-depth)));
  }
}