.cube {
	width: inherit;
	height: inherit;
  transform-style: preserve-3d;
  pointer-events: all;
}

.side {
	position: absolute;
	width: inherit;
	height: inherit;
  background: var(--secondary);
  filter: opacity(60%);
	text-align: center;
  line-height: var(--feature-preview-width);
  transform-origin: 50% 50% calc(var(--feature-preview-width) / -2);
  color: #fff;
  pointer-events: none;
}

.front {
  transform: translateZ(calc(var(--feature-preview-width) / 2));
  filter: none;
}

.back {
  transform: rotateY(180deg) translateZ(calc(var(--feature-preview-width) / 2));
  @include boxShadow();
}

.right {
	transform: rotateY(90deg) translateZ(calc(var(--feature-preview-width) / 2));
}

.left {
	transform: rotateY(-90deg) translateZ(calc(var(--feature-preview-width) / 2));
}

.top {
	transform: rotateX(90deg) translateZ(calc(var(--feature-preview-width) / 2));
}

.bottom {
	transform: rotateX(-90deg) translateZ(calc(var(--feature-preview-width) / 2));
}

.chip {
  .side {
    transform-origin: 50% 50% 0px;
    &.left, &.right {
      width: 10px;
    }

    &.top, &.bottom {
      height: 10px;
    }
  }

  .front {
    transform: translateZ(5px);
  }
  
  .back {
    transform: rotateY(180deg) translateZ(5px);
  }
  
  .right {
    transform: rotateY(90deg) translateZ(calc(var(--feature-preview-width) - 5px));
  }
  
  .left {
    transform: rotateY(-90deg) translateZ(5px);
  }
  
  .top {
    transform: rotateX(90deg) translateZ(5px);
  }
  
  .bottom {
    transform: rotateX(-90deg) translateZ(calc(var(--feature-preview-width) - 5px));
  }
}