.jumbotron {
    position: relative;
    display: flex;
    height: 100vh;
    // padding: 0 15vw;
    margin: 0;
    user-select: none;

    padding: 0;

    .content-left {
        flex-basis: 100%;
        padding-right: 0;
        max-height: 100%;
        overflow: hidden;
    }

    .content-right {
        flex-basis: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        text-transform: uppercase;
    }

    .jumbotron-content {
        position: relative;
        // flex-basis: 50%;
        
        @include flex-col;
        @include flex-center-j;
        @include flex-center-a;
    }

    .content-right {
        justify-content: flex-end;
    }

    h2 {
        font-size: 77px;
        line-height: 1;
        margin-bottom: 0;
    }

    h1 {
        font-size: 72px;

        span {
            line-height: 1;
        }
    }

    &::after {
        @include psuedo;

        height: 3px;
        background-color: var(--fourth);
        top: auto;
        bottom: -3px;
    }

    .shutter {
        @include boxShadow;
        position: absolute;
        // width: 50%;
        width: 100%;
        height: 0%;
        // left: 50%;
        // overflow: hidden;
        max-height: none;
    }

    .slat {
        position: fixed;
        width: 50vw;
        padding-right: 0;
        font-size: 72px;
        justify-content: flex-start;

        &:last-child {
            position: absolute;
            bottom: 0;
            width: 50vw;
        }

        p {
            font-size: inherit;
        }

        &.project {
            p {
                font-size: inherit;
            }
        }

        .content-container {
            justify-content: flex-start;
            left: 0;
            padding-left: var(--spacing-lg);
            padding-right: var(--spacing-lg);
        }

        &.description {
            &::after {
                display: none;
            }
        }
    }
}

.logo-tedmoke {
    width: 110%;
    .cls-1,
    .cls-3,
    .cls-4 {
      fill: none;
      stroke: #0e1428;
      stroke-miterlimit: 10;
    }
  
    .cls-1 {
      stroke-width: 22px;
    }
  
    .cls-2 {
      fill: #0e1428;
    }
  
    .cls-3 {
      stroke-width: 33px;
    }
  
    .cls-4 {
      stroke-width: 44px;
      isolation: isolate;
    }
}
@media screen and (max-width: $breakpoint-md-max) {
    .jumbotron {
        padding: 0;
        flex-direction: column;

        .slat {
            width: 100vw;
            padding-left: 0;
            font-size: calc((13vw + 10vh) / 2.5);

            .content-container {
                justify-content: center;
                padding-left: var(--spacing-sm);
                padding-right: var(--spacing-sm);
            }

            &:last-child {
                width: 100vw;
            }
        }

        .content-left {
            // padding-left: 15vw;
        }

    }

    .jumbotron-content {
        flex-basis: 50%;
    }

    .logo-tedmoke {
        width: 200%;
    }
}

#text-ted {
    font-size: 115px;
    margin-left: 8px
}

#text-interactive {
    font-size: 64.7px;
}

#text-front-end {
    font-size: 73px;
}

#text-javascript {
    font-size: 71px;
}

#text-developer {
    font-size: 72px;
}