.modal {
    --min-width: 550px;
    // --left-offset: -129px;
    --carrot-width: 10px;
    --left-offset: 50%;
    --left-offset-neg: calc(var(--left-offset) * -1);
    --left-offset-carrot: -50%;
    @include boxShadow;
    background: var(--tertiary);
    padding: var(--spacing-xl);
    position: fixed;
    // top: calc(100% + 18px);
    color: var(--base);
    min-width: var(--min-width);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // left: var(--left-offset);
    // transform: translate(var(--left-offset-neg), 0);
    text-align: left;
    z-index: 50;
    opacity: 0;

    p {
        font-size: var(--spacing-lg);
        margin-bottom: 0;
    }
}

.modal-content {
    overflow: hidden;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 40;
    background-color: rgba(0,0,0,0.35);
    opacity: 1;
}

@media screen and (max-width: $breakpoint-sm-max) {
    .modal {
        --min-width: 80%;
        // height: 90%;
        width: calc(100% - (var(--spacing-md) * 2));
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        max-height: none;
        width: 100%;
    }
}