.modal {
    --min-width: 550px;
    --carrot-width: 10px;
    @include boxShadow;
    background: var(--gray-2);
    position: fixed;
    min-width: var(--min-width);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    z-index: 50;
    opacity: 0;
    color: var(--base);

    p {
        font-size: var(--spacing-lg);
    }


    .boxed-content {
        background: var(--gray-1);
        padding: var(--spacing-md) var(--spacing-xl);
        margin: var(--spacing-lg) calc(var(--spacing-xl) * -1) 0;
        display: flex;
        justify-content: space-around;

        & > * {
            flex-basis: 50%;
        }

        &:last-child {
            margin-bottom: calc(-1 * var(--spacing-xl));
        }
    }
}

.modal-content-wrapper {
    overflow: hidden;
}

.modal-content {
    padding: var(--spacing-md) var(--spacing-xl) var(--spacing-xl);
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 40;
    background-color: rgba(0,0,0,0.65);
    backdrop-filter: blur(4px);
    opacity: 1;
    transform: translateY(0%);
}

.social-link {
    @include flex-col;
    @include flex-center-j;
    @include flex-center-a;
    color: var(--base);
    
    h3 {
        margin-bottom: 4px;
    }
    
    &:nth-child(2) {
        text-decoration-color: var(--primary);
    }
    
    &:nth-child(3) {
        text-decoration-color: var(--secondary);
    }
    &:nth-child(4) {
        text-decoration-color: var(--tertiary);
    }

    margin-bottom: 0;
}

@media screen and (max-width: $breakpoint-sm-max) {
    .modal {
        --min-width: 80%;
        width: calc(100% - (var(--spacing-md) * 2));
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        max-height: none;
        width: 100%;
        padding: var(--spacing-lg);
    }
}