nav {
    position: fixed;
    width: 0vw;
    z-index: 10;
    display: flex;
    overflow-x: hidden;
    height: 52px;
    background: var(--gray-4);

    .social-link {
        height: 50px;
        box-sizing: content-box;
        display: inline-block;
        padding: 12px var(--spacing-sm);
    }

    a {
        margin-bottom: 0;
    }

    &.inner {
        &::before {
            opacity: 1;
        }
    }

    &.no-fill {
        overflow-x: hidden;
    }

    .button {
        margin-left: 8px;
        margin-right: 8px;
    }

    .slat {

        .content-container {
            padding: var(--spacing-sm);
        }

        p {
            color: var(--fourth);
        }
    }
}

.nav-section {
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    transition: background-color 0.35 ease-in-out;
    padding-top: var(--spacing-sm);
}

.nav-left {
    max-width: 0;
    overflow: hidden;
    padding: 0;
}

.nav-social {
    text-align: center;
}

.social-sub {
    position: absolute;
    // overflow-x: hidden;

    & path {
        fill: var(--fourth);
    }

    &.social-left {
        right: calc(50% + #{var(--spacing-xs)});
    }

    &.social-right {
        left: calc(50% + #{var(--spacing-xs)});

        path {
            fill: var(--base);
        }
    }
}

.icon-tm {
    box-sizing: content-box;
    width: 80px;
    width: 60px;
    height: auto;
    padding: 8px 8px 4px;

    rect,path {
        fill: white;
    }

    .stroke-only {
        fill: none;
        stroke: white;
    }
}

.overlay-controls {
    position: fixed;
    right: 0;
    z-index: 30;
    --arrow-width: 50px;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    padding: 0 var(--spacing-sm) var(--spacing-sm);
    height: 100vh;

    button {
        pointer-events: all;
        margin: var(--spacing-xs);
    }

    .arrow-container, .icon-container {
        max-height: var(--arrow-width);
        max-width: var(--arrow-width);
        padding: var(--spacing-sm);
        display: flex;
        align-items: center;
    }

    .menu .icon-container {
        padding: 10px;
    }

    .icon.arrow {
        padding: 4px 2px 0 2px;

        path {
            fill: var(--base);
        }
    }
}

.control-feature-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.icon-menu {
    .cls-1{fill:none;}
    .cls-2{clip-path:url(#icon-menu-clip-path);}
    .cls-3{fill:var(--primary);}
    .cls-4{fill:var(--secondary);}
    .cls-5{fill:var(--tertiary);}
    .cls-6{fill:var(--fourth);}
}

.control-message {
    position: absolute;
    bottom: var(--spacing-sm);
}

.icon-message {
    path {
        fill: var(--base);
    }
}

.icon-arrow-circle {
    path {
        fill: var(--base);
    }
}

@media screen and (max-width: $breakpoint-md-max) {
    nav {
        display: none;
    }
}