nav {
    position: fixed;
    width: 0vw;
    z-index: 10;
    display: flex;
    overflow-x: hidden;
    height: 52px;

    .social-link {
        height: 50px;
        box-sizing: content-box;
        display: inline-block;
        padding: 12px var(--spacing-sm);
    }

    a {
        margin-bottom: 0;
    }

    &.inner {
        &::before {
            opacity: 1;
        }
    }

    &.no-fill {
        overflow-x: hidden;
    }

    .button {
        margin-left: 8px;
        margin-right: 8px;
    }

    .slat {
        border-bottom: 5px solid var(--gray-2);
        border-top: none;
        height: 52px;

        .content-container {
            padding: var(--spacing-sm);
        }

        p {
            color: var(--fourth);
        }

        &:first-child {
            border-right: 5px solid var(--gray-3);
        }
        
        &:last-child {
            border-left: 5px solid var(--gray-4);

        }

        &::after {
            @include psuedo;
            width: 1px;
            left: auto;
            right: 0;
            background-color: var(--neutral);
            height: 60%;
            top: 20%;
        }

        &:first-child {
            &::after {
                display: none;
            }
        }
    }
}

.nav-section {
    width: 100vw;
    transition: background-color 0.35 ease-in-out;
}

.nav-left {
    max-width: 0;
    overflow: hidden;
    padding: 0;
}

.nav-social {
    text-align: center;
}

.social-sub {
    position: absolute;
    // overflow-x: hidden;

    & path {
        fill: var(--fourth);
    }

    &.social-left {
        right: calc(50% + #{var(--spacing-xs)});
    }

    &.social-right {
        left: calc(50% + #{var(--spacing-xs)});

        path {
            fill: var(--base);
        }
    }
}

.icon-tm {
    box-sizing: content-box;
    width: 80px;
    width: 60px;
    height: auto;
    padding: 8px 8px 4px;

    rect,path {
        fill: white;
    }

    .stroke-only {
        fill: none;
        stroke: white;
    }
}