.prompt-wrapper {
    height: 50px;
    position: fixed;
    z-index: 10;
    // width: 100vw;
    width: 100%;
    bottom: var(--spacing-md);
}

.prompt {
    --arrow-width: 60px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    @include flex;

    span {
        min-width: 150px;
        color: var(--fourth);
        font-size: var(--spacing-lg);

        &:last-of-type {
            color: var(--base);
            text-align: right;
        }
    }
}

.icon {
    &.arrow {
        height: calc(var(--arrow-width) / 2);
        width: var(--arrow-width);

        path {
            fill: var(--secondary);
        }
    }
}

.arrow-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

@media screen and (min-width: $breakpoint-sm) {
    .prompt {
        --arrow-width: 80px;
    }
}