.screencap-wrapper {
    @include flex;
    @include flex-center-j;
    @include flex-center-a;

    flex: 1;
    border: 5px solid #222;
    border-top-color: #888;
    border-right-color: #555;
    border-left: none;
    padding: var(--spacing-md);
}

.screencap {
    @include boxShadow(0.1);
}