.showcase-wrapper {
  padding: var(--spacing-xl);
  margin-bottom: calc(var(--spacing-xl) * -1);
  margin-top: calc(var(--spacing-md) * -1);
  // margin: calc(var(--spacing-md) * -1) calc(var(--spacing-md) * -1) calc(var(--spacing-) * -1)
  overflow: hidden;
}

.showcase-container {
  @include boxShadow;
  background: var(--gray-3);
  display: flex;
  width: 100%;
  height: calc(80vh - 50px);

  .slat {
    .content-container {
      justify-content: flex-start;
    }
  }
}

.showcase-nav {
  --project-padding: var(--spacing-md);
  --feature-preview-width_with-pad: 100px;
  --feature-preview-width: calc(var(--feature-preview-width_with-pad) - var(--project-padding));
  
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: calc(var(--feature-preview-width_with-pad) - var(--project-padding));
  display: flex;
  flex-direction: column;
}

.feature-preview {
  flex: calc(var(--feature-preview-width) + var(--spacing-lg));
  
  &.active {
    img {
      filter: grayscale(0%);
    }
  }
  
  img {
    filter: grayscale(100%);
    transition: filter .25s var(--bezier), transform  .25s var(--bezier);
  }

  .cube {
    height: var(--feature-preview-width);
    width: var(--feature-preview-width);
  }
}

.feature-wrapper {
  background: var(--base);
  overflow: hidden;
}