.showcase-wrapper {
  padding-left: var(--spacing-xl);
  padding-top: var(--spacing-lg);
  overflow: hidden;
}

.showcase-container {
  @include boxShadow;
  background: var(--gray-3);
  display: flex;
  width: 100%;
  height: calc(85vh - 50px);

  .slat {
    .content-container {
      justify-content: flex-start;
    }
  }
}

.feature-wrapper {
  background: var(--base);
}