.showcase-wrapper {
  padding: var(--spacing-xl);
  margin-bottom: calc(var(--spacing-xl) * -1);
  margin-top: calc(var(--spacing-md) * -1);
  margin-left: calc(var(--spacing-xl) * -1);
  overflow: hidden;
  flex-grow: 1;
}

.showcase-container {
  @include boxShadow;
  background: var(--gray-3);
  display: flex;
  width: 100%;
  height: calc(80vh - 50px);

  .slat {
    .content-container {
      justify-content: flex-start;
      padding-left: calc(var(--spacing-xl) + var(--spacing-sm));
    }
  }
}

.showcase-nav {
  --project-padding: var(--spacing-md);
  --feature-preview-width_with-pad: 100px;
  --feature-preview-width: calc(var(--feature-preview-width_with-pad) - var(--project-padding));

  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  margin-right: var(--spacing-lg);
  background-color: var(--gray-3);
  padding: var(--spacing-sm);
}

.showcase-nav-label {
  text-align: center;
  text-transform: uppercase;
  // font-family: 'NunitoSans-Black', serif;
  color: white;
}

.feature-preview {
  &.active {
    img {
      filter: grayscale(0%);
    }
  }

  img {
    filter: grayscale(100%);
    transition: filter .25s var(--bezier), transform .25s var(--bezier);
  }

  .chip {
    height: var(--feature-preview-width);
    width: var(--feature-preview-width);
  }
}

.feature-wrapper {
  @include flex;
  @include flex-center-j;
  @include flex-center-a;

  flex: 1;
  border: 5px solid #222;
  border-top-color: #888;
  border-right-color: #555;
  border-left: none;
  padding: var(--spacing-md);
  background: var(--base);
  overflow: hidden;

  img,video {
    @include boxShadow();
  }
}

@media screen and (max-width: $breakpoint-md-max) {
  .showcase-wrapper {
    padding: 0;
    margin: 0;
    height: calc(100vh - var(--spacing-xxxl));
    // flex-grow: unset;

    .shutter-wrapper {
      flex: 1;
      width: 100%;
    }
  }

  .showcase-container {
    flex-direction: column-reverse;
    height: 100%;
  }

  .showcase-nav {
    display: none;
  }

  .feature-wrapper {
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-top: none;
    padding: 0 0 var(--spacing-md) 0;
    flex: none;
  }
}