.shutter-wrapper {
    width: 40%;
}

.shutter {
    position: relative;
    height: 100%;

    &.horizontal {
        max-height: none;
        width: 100%;
        max-width: 1200px;

        .slat {
            height: 100%;
            text-align: right;
        }
    }

    .no-fill & {
        @include boxShadow();
    }
}

.slat {
    
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 var(--spacing-lg);
    margin: 0;
    transform: translateY(100%);
    display: flex;
    align-items: center;
    justify-content: center;

    .horizontal & {
        transform: translateX(-100%);
        padding: 0;
    }

    p {
        @include text-black;
        color: var(--base);
        text-transform: uppercase;
        font-size: var(--spacing-xl);
        line-height: 1;
        margin-bottom: 0;
    }

    .content-container {
        position: absolute;
        width: 100%;
        padding: var(--spacing-md);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: auto;
    }

    .shutter.horizontal & {
        .content-container {
            height: 100%;
            width: auto;
        }
    }

    .shutter.bottom-expands & {
        &:last-child {
            .content-container {
                align-items: flex-start;
            }
        }
    }

    &.client {
        .slat-label {
            background: var(--fourth);
        }
    }

    &.project {
        p {
            font-size: calc(var(--spacing-xl ) + var(--spacing-sm));
        }

        .slat-label {
            background: var(--tertiary);
        }
    }

    &.roles {
        .slat-label {
            background: var(--secondary);
        }
    }

    &.description {

        p {
            @include text-extraLight();
            text-transform: initial;
            font-size: var(--spacing-lg);
        }

        .slat-label {
            background: var(--primary);
        }

        &::after {
            @include psuedo;
            bottom: 0;
            top: auto;  
            left: auto;
            right: 0;
            height: 20px;
            width: calc(100% - 31px);
            background: var(--gray-1);
            background: linear-gradient(0deg, var(--gray-1) 0%, rgba(0,0,0,0) 100%);
        }
    }

    &.small {
        p {
            font-size: var(--spacing-lg);
        }
    }

    nav & {
        p {
            font-size: var(--spacing-lg);
        }
    }

    &.scroll {
        .content-container {
            overflow-y: scroll;
        }
    }
}

.slat-label {
    position: fixed;
    left: 0px;
    top: 0px;
    padding: var(--spacing-sm);
    width: 31px;
    height: 100%;

    label {
        @include text-black;
        color: white;
        display: block;
        transform: rotate(180deg);
        writing-mode: vertical-rl;
        font-size: var(--spacing-md);
        text-transform: uppercase;
        line-height: 1;
    }
}

@media screen and (max-height: 768px) {
    .slat {
        p {
            font-size: var(--spacing-lg);
        }

        &.project {
            p {
                font-size: var(--spacing-xl)
            }
        }

        &.description {
            p {
                font-size: var(--spacing-md);
            }
        }
    }

    .slat-label {
        label {
            font-size: 12px;
        }
    }
}

@media screen and (max-width: $breakpoint-lg-max) {
    .slat {
        p {
            font-size: calc(var(--spacing-xl) - var(--spacing-sm));
        }

        &.project {
            p {
                font-size: var(--spacing-xl);
            }
        }

        &.description {
            p {
                font-size: calc(var(--spacing-lg) - 6px);
            }
        }
    }

    .slat-label {
        width: 26px;
        label {
            font-size: 12px;
        }
    }
}

@media screen and (max-width: $breakpoint-sm-max) {
    .slat-label {
        width: var(--spacing-sm);

        label {
            display: none;
        }
    }
}