.shutter-wrapper {
    width: 40%;
}

.shutter {
    position: relative;
    // height: 80vh;
    height: 100%;
    // max-height: 800px;

    &.horizontal {
        height: 50px;
        max-height: none;
        width: 100%;
        max-width: 1200px;

        .slat {
            height: 100%;
            text-align: right;
        }
    }

    .no-fill & {
        @include boxShadow();
    }
}

.slat {
    
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 var(--spacing-lg);
    margin: 0;
    transform: translateY(100%);
    display: flex;
    align-items: center;
    justify-content: center;

    .horizontal & {
        transform: translateX(-100%);
        padding: 0;
    }

    p {
        @include text-black;
        color: var(--base);
        text-transform: uppercase;
        font-size: var(--spacing-xl);
        line-height: 1;
        margin-bottom: 0;
    }

    &.client {
        p {
            font-size: var(--spacing-xxl);
        }

        .slat-label {
            background: var(--fourth);
        }
    }

    &.project {
        .slat-label {
            background: var(--tertiary);
        }
    }

    &.roles {
        .slat-label {
            background: var(--secondary);
        }
    }

    &.description {

        p {
            @include text-extraLight();
            text-transform: initial;
            font-size: var(--spacing-lg);
        }

        .slat-label {
            background: var(--primary);
        }
    }

    &.small {
        p {
            font-size: var(--spacing-lg);
        }
    }

    nav & {
        p {
            font-size: var(--spacing-lg);
        }
    }
}

.slat-label {
    position: absolute;
    left: -31px;
    top: var(--spacing-sm);
    padding: var(--spacing-sm);
    width: 31px;

    label {
        @include text-black;
        color: white;
        display: block;
        transform: rotate(180deg);
        writing-mode: vertical-rl;
        text-transform: uppercase;
        line-height: 1;
    }
}