.button {
    display: inline-block;
    height: 54px;
    padding: 0 $spacing-xxl;
    border-radius: $spacing-xxl;
    background: $fourth;
    color: $white;
    margin-top: 12px;
    vertical-align: top;
    
    h4 {
        display: flex;
        height: 100%;
        align-items: center;
        margin-bottom: 0;
        font-size: 20px;
    }
}