.form-section {
    text-align: left;
    margin-bottom: $spacing-md;
    display: flex;
    align-items: flex-start;
}

$labelWidth: 80px;

label {
    min-width: 80px;
    display: inline-block;
    margin: 3px 0 0;
}

input, textarea {
    width: calc(99% - #{$labelWidth});
    background: $white;
}

input {
    border: none;
    padding: $spacing-xs;
    
    &[type="textarea"] {
        height: 150px;
    }
}

form {
    text-align: center;
    width: 100%;
}

.social-section {
    display: flex;
    justify-content: space-evenly;
}