.jumbotron {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 0 15vw;
    margin: 0;

    h1,
    h2,
    h3,
    h4,
    h5 {
        text-transform: uppercase;
    }

    .jumbotron-content {
        position: relative;
        flex: 1;
        @include flex-col;
        @include flex-center-j;
        @include flex-center-a;
    }

    .content-left {
        padding-right: 15vw;
    }

    h2 {
        font-size: 77px;
        line-height: 1;
        margin-bottom: 0;
    }

    h1 {
        font-size: 72px;

        span {
            line-height: 1;
        }
    }

    &::after {
        @include psuedo;

        height: 3px;
        background-color: var(--fourth);
        top: auto;
        bottom: -3px;
    }

    .shutter {
        @include boxShadow;
        position: absolute;
        width: 50%;
        height: 100%;
        left: 50%;
        overflow: hidden;
        max-height: none;
    }

    .slat {
        position: fixed;
        width: 100%;
        padding-right: 0;

        &:last-child {
            position: absolute;
            bottom: 0;
        }

        p {
            font-size: 72px;
        }
    }


}

#text-ted {
    font-size: 115px;
    margin-left: 8px
}

#text-interactive {
    font-size: 64.7px;
}

#text-front-end {
    font-size: 73px;
}

#text-javascript {
    font-size: 71px;
}

#text-developer {
    font-size: 72px;
}