.modal {
    --min-width: 550px;
    // --left-offset: -129px;
    --carrot-width: 10px;
    --left-offset: 50%;
    --left-offset-neg: calc(var(--left-offset) * -1);
    --left-offset-carrot: -50%;
    @include boxShadow;
    background: $tertiary;
    padding: $spacing-xl;
    position: absolute;
    top: calc(100% + 18px);
    color: $white;
    min-width: var(--min-width);
    left: var(--left-offset);
    transform: translate(var(--left-offset-neg), 0);
    text-align: left;
    z-index: 20;
    opacity: 0;

    &::before {
        @include psuedo;
        width: 0;
        height: 0;
        left: var(--left-offset);
        transform: translate(var(--left-offset-carrot), 0);
        top: -9px;
        border-left: var(--carrot-width) solid transparent;
        border-right: var(--carrot-width) solid transparent;
        border-bottom: var(--carrot-width) solid $tertiary
    }

    p {
        font-size: $spacing-lg;
        margin-bottom: 0;
    }
}

.modal-content {
    overflow: hidden;
}