nav {
    position: fixed;
    width: 100vw;
    z-index: 10;
    display: flex;

    .social-link {
        height: 50px;
        box-sizing: content-box;
        display: inline-block;
        padding: 12px $spacing-sm;
        overflow: hidden;
    }

    a {
        margin-bottom: 0;
    }

    &::before {
        @include psuedo;
        height: 20%;
        background: rgba($secondary, 0.9);
        opacity: 0;
        transition: opacity 0.35s ease-in-out;
    }

    &.inner {
        &::before {
            opacity: 1;
        }
    }
}

.nav-section {
    padding: 0 5vw;
    transition: background-color 0.35 ease-in-out;
}

.nav-left {
    max-width: 0;
    overflow: hidden;
    padding: 0;
}

.nav-social {
    text-align: center;
}

.social-sub {
    position: absolute;
    overflow: hidden;

    & path {
        fill: $fourth;
    }

    &.social-left {
        right: calc(50% + #{$spacing-xs});
    }

    &.social-right {
        left: calc(50% + #{$spacing-xs});

        path {
            fill: $white;
        }
    }
}

.icon-tm {
    box-sizing: content-box;
    width: 80px;
    height: auto;
    padding: 8px 8px 4px;

    rect,path {
        fill: white;
    }

    .stroke-only {
        fill: none;
        stroke: white;
    }
}