@font-face {
    font-family: 'NunitoSans-Black';
    src: url('../assets/fonts/NunitoSans-Black.eot?#iefix') format('embedded-opentype'),  url('../assets/fonts/NunitoSans-Black.woff') format('woff'), url('../assets/fonts/NunitoSans-Black.ttf')  format('truetype'), url('../assets/fonts/NunitoSans-Black.svg#NunitoSans-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'NunitoSans-ExtraLight';
    src: url('../assets/fonts/NunitoSans-ExtraLight.eot?#iefix') format('embedded-opentype'),  url('../assets/fonts/NunitoSans-ExtraLight.woff') format('woff'), url('../assets/fonts/NunitoSans-ExtraLight.ttf')  format('truetype'), url('../assets/fonts/NunitoSans-ExtraLight.svg#NunitoSans-ExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin text-black {
    font-family: 'NunitoSans-Black';
}

@mixin text-extraLight {
    font-family: 'NunitoSans-ExtraLight';
}
  

body {
    @include text-extraLight;
}

h1,h2,h3,h4,h5,p,li,th,td,a,span,button,section {
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: $spacing-sm;
}

h1,h2,h3,h4,h5 {
    @include text-black;
}

h1 {
    font-size: $spacing-xl;
}

h2 {
    font-size: $spacing-lg;
}

h3 {
    font-size: $spacing-md;
}

h4, p {
    font-size: calc(#{{spacing-md}} - #{{spacing-xs}});
}

@media screen and (min-width: $breakpoint-sm) {
    h1 {
        font-size: $spacing-xxl;
    }
    
    h2 {
        font-size: $spacing-xl;
    }
    
    h3 {
        font-size: $spacing-lg;
    }
    
    h4, p {
        font-size: $spacing-md;
    }
}