@mixin flex {
    display: flex;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
}

@mixin flex-center-j {
    justify-content: center;
}

@mixin flex-center-a {
    align-items: center;
}

.flex-col-center {
    @include flex-col;
    @include flex-center-j;
}

.hide {
    display: none;
}

.hidden {
    display: block;
    visibility: hidden;
}

.divider {
    width: 97.5%;
    height: 1px;
    background-color: var(--neutral);
    margin: var(--spacing-lg) 0% var(--spacing-lg) 2.5%;
}