.scroll-prompt {
    --arrow-width: 80px;
    position: fixed;
    bottom: var(--spacing-md);
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    @include flex;
    overflow: hidden;


    .icon.arrow {
        margin: 0 var(--spacing-lg);
        width: var(--arrow-width);

        polyline {
            stroke: var(--secondary);
        }
    }

    span {
        color: var(--fourth);
        font-size: var(--spacing-lg);
        &:last-of-type {
            color: var(--base);
        }
    }
}