/* ======================================================================================
// Base Styling
// -------------------------------------------------------------------------------------- */
html {
  min-width: 100vw;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  background: var(--base);
  min-width: 100vw;
  min-height: 100vh;
}

section {
  background: var(--base);
  position: relative;
  max-width: 1400px;
  min-height: 100vh;
  padding: var(--spacing-lg);
  margin: auto;
  display: flex;
  align-items: flex-end;
}

.section-header {
  text-align: center;
  margin-bottom: var(--spacing-lg);
}

.project-wrapper {
  @include boxShadow;
  display: flex;
  // margin-bottom: var(--spacing-lg);
  // margin-left: 30px;
  height: 80vh;
  width: 100%;
}

.page-work {
  padding-top: 10vh;
}

img,
video {
  max-width: 100%;
}

.icon {
  width: 50px;
  height: 50px;
}

.icon-container {
  padding: 8px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.divider {
  width: 97.5%;
  height: 1px;
  background-color: var(--neutral);
  margin: var(--spacing-lg) 0% var(--spacing-lg) 2.5%;
}

.full-page {
  min-height: 100vh;
  min-width: 100vw;
}

.page-wrapper {
  background: var(--base);
  position: relative;
}

.page-placeholder {
  min-width: 100vw;
  min-height: 100vh;
}

@media screen and (min-width: var(--breakpoint-sm)) {
  section {
      padding: var(--spacing-xl);
  }

  .project-wrapper {
    margin-bottom: 15vh;
  }

  .section-header {
    margin-bottom: var(--spacing-xl);
  }
}

@media screen and (min-width: var(--breakpoint-lg)) {
  section {
    padding: var(--spacing-xxl);
  }
}
