/* ======================================================================================
// Base Styling
// -------------------------------------------------------------------------------------- */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  background: var(--base);
  min-width: 100vw;
  min-height: 100vh;
}

section {
  background: var(--base);
  position: relative;
  max-width: 1400px;
  min-height: 100vh;
  padding: var(--spacing-lg);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.section-header-container {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.section-header {
  margin-bottom: 0;
}

.project-nav {
  --project-padding: var(--spacing-md);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: calc(var(--chapter-width) - var(--project-padding));
  padding-right: var(--project-padding);
}

.page-work {
  padding-top: 10vh;
}

img,
video {
  max-width: 100%;
}

.icon {
  width: 50px;
  height: 50px;
}

.icon-container {
  padding: 8px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.divider {
  width: 97.5%;
  height: 1px;
  background-color: var(--neutral);
  margin: var(--spacing-lg) 0% var(--spacing-lg) 2.5%;
}

.full-page {
  min-height: 100vh;
  min-width: 100vw;
}

.page-wrapper {
  background: var(--base);
  position: relative;
}

.page-placeholder {
  // min-width: 100vw;
  min-height: 100vh;
}

@media screen and (min-width: $breakpoint-sm) {
  section {
      padding: var(--spacing-xl) calc(var(--chapter-width) + var(--spacing-lg)) var(--spacing-xl) calc(var(--spacing-xl) * 2);
  }
}

@media screen and (min-width: $breakpoint-lg) {
  section {
    padding: var(--spacing-xxl) calc(var(--chapter-width) + var(--spacing-lg)) var(--spacing-xxl) calc(var(--spacing-xxl) * 2);
  }
}
