@mixin text-black {
    font-family: 'NunitoSans-Black', serif;
}

@mixin text-extraLight {
    font-family: 'NunitoSans-ExtraLight', serif;
}
  
.bold {
    @include text-black;
}

body {
    @include text-extraLight;
}

h1,h2,h3,h4,h5,p,li,th,td,a,span,button,section, label {
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: var(--spacing-sm);
}

h1,h2,h3,h4,h5 {
    @include text-black;
}

h1 {
    font-size: var(--spacing-xl);
}

h2 {
    font-size: var(--spacing-lg);
}

h3 {
    font-size: var(--spacing-md);
}

label, h4,p, a {
    font-size: var(--spacing-md);
    color: inherit;
}

@media screen and (min-width: $breakpoint-md) {
    h1 {
        font-size: var(--spacing-xxl);
    }
    
    h2 {
        font-size: var(--spacing-xl);
    }
    
    h3 {
        font-size: var(--spacing-lg);
    }
    
    h4, p {
        font-size: var(--spacing-md);
    }
}