/* ======================================================================================
// Sass Variables
// -------------------------------------------------------------------------------------- */
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;

:root {

  --base-dk: #000000;
  --base: #EDEDED;

  --primary: #F48907;
  --primary-dk: #90361c;
  --secondary: #D95D39;
  --tertiary: #575366;
  --fourth: #0E1428;
  
  --neutral: rgb(180, 180, 180);
  --neutral-dk: #bababa;

  --gray-1: #222;
  --gray-2: #444;
  --gray-3: #666;
  --gray-4: #888;

  --breakpoint-lg: 1200px;
  --breakpoint-md: 1024px;
  --breakpoint-sm: 768px;
  

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 48px;

  --chapter-width: 100px;

  --transitionDur: 0.25s;

  --dropOffsetX: 5px;
  --dropOffsetY: 3px;

  --border-radius: var(--spacing-xxl);

  @media screen and (min-width: $breakpoint-lg) {
    --chapter-width: 124px;
  }

  @media screen and (max-width: $breakpoint-md) {
    --chapter-width: 0px;
  }

  --bezier: cubic-bezier(0.42, 0, 0.58, 1);

};